@use 'global' as *

@use './cards/_big-card'
@use './cards/_reg-card'
@use './cards/_tags'

/*----------------------- Small Card -----------------------*/

.card_container, .card_column
    display: grid
    column-gap: 0.5rem

.card_column
    grid-template-columns: 1fr

.card_container
    grid-template-columns: 1fr 1fr

@media (max-width: 1450px)
    .card_container
        grid-template-columns: 1fr
