@use 'global' as *

/*----------------------- Page Cover -----------------------*/
#page_cover
    height: 106vh
    width: 100%
    background: url('../../assets/images/page-cover.png') no-repeat center center
    background-size: cover

    #title
        position: absolute
        top: 70vh
        color: $fontWhite-color
        font-family: 'Raleway', sans-serif
        font-weight: 900
        padding-left: 2rem
        font-size: min(calc( 1600px * 0.09 ), 9vw)
        line-height: 0.8

    #tech_and_contact
        display: flex

    #contact
        list-style-type: none
        display: flex
        flex-wrap: nowrap
        padding-left: 20px

        li
            width: min(calc( 1600px * 0.05 ), 5vw)
            transition-duration: 0.3s
            padding-right: 10px

            &:hover
                transform: translateY(-10%)

            img
                position: relative
                top: 10%
                width: min(calc( 1600px * 0.05 ), 5vw)

    #gradient_transition
        position: relative
        top: 100vh
        height: 6vh
        background-image: linear-gradient(rgba(0, 0, 0, 0), $background-color)