<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/css/common.css">
    <link rel="stylesheet" href="../styles/css/cards.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    
    <title>David - Projects</title>
    <link rel="icon" type="image/x-icon" href="../assets/images/page-icon.ico">

    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
</head>
<body>
    <header>
        <div id="page_header">
            <img src="../assets/images/logo.png" alt="Portifólio - Logo">
            <p id="header_text" class="not_selectable">Gabriel David</p>
        </div>

        <nav id="menu">
            <a id="menu_bt" class="not_selectable"><i class="material-icons" style="color: aliceblue; margin: 10px 0px 10px 10px;">menu</i></a>
            <ul id="menu_ul" class="not_selectable">
                <li><a href="../index.html"><i class="material-icons">home</i> Home</a></li>
                <li><a href="formation.html"><i class="material-icons">school</i> Formação</a></li>
                <li><a href="projects.html"><i class="material-icons">cases</i> Projetos</a></li>
                <li><a href="contact.html"><i class="material-icons">phone</i> Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div id="page_content">
            <h1>Projetos e Trabalhos</h1>
            <p class="descricao_do_topico">Mostruário dos meus principais projetos comerciais e acadêmicos.
            </p>

            <div class="big_card_container" id="proj_main">
                <!-- Generated Content -->
            </div>

            <script type="module">
                import BigCard from '../models/BigCard.js';

                import projectsDB from '../json/projects.json' assert { type: "json" };
                
                document.addEventListener("DOMContentLoaded", function() {
                    let parent;
                            
                    parent = document.getElementById('proj_main');
                    const projects = projectsDB.projects;
                    for (let i = 0; i < projects.length; i++) {
                        const element = projects[i];
                        const card = new BigCard(
                            element.title,
                            element.sub_title,
                            element.desc,
                            "../" + element.img_path,
                            element.alt,
                            element.tags,
                            element.state,
                            element.link
                        );

                        parent.innerHTML += card.getHtml();
                    };
                });
            </script>
        </div>
    </main>

    <footer>
        <p>All Rights Reserved © 2022-2035 GABRIEL DAVID</p>
    </footer>

    <script src="../scripts/common.js"></script>
</body>
</html>